{% extends 'base.html.twig' %}

{% block body %}
    <section class="section-block page-section" id="downloads">
        <div class="section-h2">
            <h2>
                Téléchargements
            </h2>
        </div>
        <div class="section-content">
            <ul>
            {% for item in items %}
                <li class="file-item">
                    <a href="{{ path('dl_item', {token: item.token}) }}">
                        <i class="far fa-file-pdf icon"></i>
                        <span class="title">{{ item.name }}</span>
                        <span class="lang">{{ item.lang ? '(' ~ item.lang|upper ~ ')' }}</span>
                    </a>
                </li>
            {% endfor %}
                <li class="file-item">
                    <a href="{{ path('fullpresskit') }}">
                        <i class="far fa-archive icon"></i>
                        <span class="title">Dossier de presse détaillé</span>
                        <span class="lang">(FR)</span>
                    </a>
                </li>
            </ul>
            <p class="text-block">Pour obtenir les fichiers sons, contacter
                <em>ftiymusic [at] gmail.com</em>
            </p>
        </div>
    </section>
{% endblock %}